<div id="<%= dom_id course %>" class="max-w-sm rounded-b overflow-hidden shadow-lg hover:bg-pink-100">
  <%= link_to course, class: "flex flex-col h-full" do %>
    <% if course.image.present? %>
      <%= image_tag course.image, class:"w-full rounded-t"%>
    <% else %>
      <%= image_tag("https://via.placeholder.com/300") %>
    <% end%>
    <p>
      <strong>Title:</strong>
      <%= course.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= course.description %>
    </p>
    <p>Free</p>
  <% end %>

</div>
