<!DOCTYPE html>
<html>
  <head>
    <title>HamroAcademy admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
      <%= render "admin/navbar" %>
    <main class="container mx-auto min-h-screen px-4 md:px-0 mt-4 flex">
      <%= yield %>
    </main>
  </body>
</html>
